.cityList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .addCity {
    margin-top: 20px;
  }
  
  .addCity input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .addCity button {
    padding: 8px 16px;
    background-color: #FFB36C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addCity button:hover {
    background-color: #FF9439;
  }
  